# Ignore Python bytecode files
*.pyc

# Ignore virtual environment
venv/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore machine learning model files
*.h5
*.json

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore data files (if large and not needed in version control)
data/

# Ignore log files
*.log